ACTION=="add", SUBSYSTEM=="cpu", RUN+="/bin/sh -c 'echo schedutil > /sys/devices/system/cpu/cpu%n/cpufreq/scaling_governor || echo performance > /sys/devices/system/cpu/cpu%n/cpufreq/scaling_governor'"
