[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
Exec=systemsettings kcm_luminos_hive
Icon=preferences-system-network
Name=HIVE AI Settings
Comment=Configure Luminos HIVE AI system
Keywords=hive;ai;mode;luminos;settings;
