[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_keyboard
Name=Keyboard Backlight
Name[en]=Keyboard Backlight
Comment=Control ASUS ROG keyboard backlight
Icon=preferences-desktop-keyboard
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=70
