[Desktop Entry]
Type=Application
Name=Luminos Keyboard Light
Exec=asusctl aura effect static -c ffffff
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-KDE-autostart-condition=
